Intermediate/CachedAssetRegistry.bin
Saved/Config/CleanSourceConfigs/Compat.ini
Saved/Config/CleanSourceConfigs/DeviceProfiles.ini
Saved/Config/CleanSourceConfigs/DeviceProfiles.ini
Saved/Config/CleanSourceConfigs/DeviceProfiles.ini
Saved/Config/CleanSourceConfigs/Editor.ini
Saved/Config/CleanSourceConfigs/EditorGameAgnostic.ini
Saved/Config/CleanSourceConfigs/EditorUserSettings.ini
Saved/Config/CleanSourceConfigs/EditorUserSettings.ini
Saved/Config/CleanSourceConfigs/Game.ini
Saved/Config/CleanSourceConfigs/GameUserSettings.ini
Saved/Config/CleanSourceConfigs/EditorKeyBindings.ini
Saved/Config/CleanSourceConfigs/EditorLayout.ini
Saved/Config/CleanSourceConfigs/EditorLayout.ini
Saved/Config/CleanSourceConfigs/Engine.ini
Saved/Config/CleanSourceConfigs/Lightmass.ini
Saved/Config/CleanSourceConfigs/Input.ini
Saved/Config/CleanSourceConfigs/SourceControlSettings.ini
Saved/Config/CleanSourceConfigs/Scalability.ini
Saved/Config/CleanSourceConfigs/TemplateDefs.ini
Saved/Config/Windows/Compat.ini
Saved/Config/Windows/DeviceProfiles.ini
Saved/Config/Windows/Editor.ini
Saved/Config/Windows/EditorKeyBindings.ini
Saved/Config/Windows/Game.ini
Saved/Config/Windows/Scalability.ini
Saved/Logs/Possession.log
Saved/Config/Windows/EditorLayout.ini
Saved/Config/Windows/EditorUserSettings.ini
Saved/Config/Windows/Engine.ini
Saved/Config/Windows/GameUserSettings.ini
Saved/Config/Windows/Lightmass.ini
Saved/Config/Windows/SourceControlSettings.ini
Saved/Config/Windows/Input.ini
Saved/Config/Windows/TemplateDefs.ini
Saved/Autosaves/PackageRestoreData.json
Saved/AutoScreenshot.png
Saved/Config/WorldState/3131298489.json
Saved/Logs/Possession-backup-2014.12.04-20.57.19.log